// 侧边栏
.header-inner {
  background-image: url("/images/site-meta-bg/sky.jpg");
  background-size: cover;
}

// 侧边栏 - 上
//.site-meta {
//  background-color: rgba(0,19,32, 0.8);
//}
.site-nav .menu .menu-item a {
  height: 30px;
  color: #f9f9f9;
}

.site-nav .menu .menu-item a:hover, .site-nav .menu .menu-item-active a {
  background: rgba(0, 0, 0, 0.2);
}


// 侧边栏 - 下
.site-overview {
  opacity: 0.2;
}

.local-search-pop-overlay {
  opacity: 1;
  background: none;
}


.site-overview, .header-inner {
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.site-overview:hover, .header-inner:hover {
  opacity: 1;
}

// disable top bar
.headband {
  display: none;
}

// 文章之间的间隔
.post-footer {
  padding: 20px 0 15px 0;
}

.post-button {
  padding-top: 20px;
}

.post:last-child {
  hr {
    display: none;
  }
}

// disable shadow for loading img.
// p.s. how to be more specific..
.posts-expand .post-body .fancybox img[src*="loading_test_ver2.0.gif"] {
  box-shadow: none;
}

// 标题的字体:
.posts-expand .post-title {
  font-size: 24px;
}

// article <p> margin
p {
  margin: 16px 0;
}

// quote
code {
  padding: 4px 4px 1px 4px;
  //background: #eee8d5;
}

// background & line-height
body {
  line-height: 1.6;
}

img {
  max-height: 350px;
}

.post-header .post-meta {
  margin-top: -22px;

}

.post-header .post-meta .post-comments-count,.disqus-comment-count {
  color: #999;
}

