//
.site-overview{
  opacity: 0.5;
}
.header-inner {
  opacity: 0.8;
}
.site-overview, .header-inner {
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.site-overview:hover, .header-inner:hover {
  opacity: 1;
}

.headband {
  display: none;
}
